/* AppBar.module.css */
.header {
    top: 0px;
    left: 0px;
    position: sticky;
    z-index: 1100;
    display: flex;
    -webkit-box-pack: start;
    justify-content: start;
    -webkit-box-align: center;
    align-items: center;
    min-height: 64px;
    padding: 12px 24px;
    color: rgb(255, 255, 255);
    background-color:#2e3c5efd;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px, rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;
}
.logo {
    font-size: 1.rem;
    font-weight: bold;
    margin: 0;
  }
  