.movieContainer {
  flex-wrap: wrap;
  list-style-type: square;
  padding-left: 0;
}
.movieList {
  text-align: left;
}

.movieItem {
  flex: 0 0 50%;
  background-color: #2e3c5efd;
  color: #fff;
  padding: 10px;
  box-sizing: border-box;
}

.movieItem:hover {
    color: #004287;
}

.movieTitle {
  font-size: 18px;
  font-weight: bold;
}

.movieDescription {
  font-size: 14px;
}
